.service-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(17, 19, 25, 0.8),
      rgba(17, 19, 25, 0.8)
    ),
    url('../../../images/mob-Services-and-prices.jpg');
  @media screen and (min-width: $tablet-min) {
    background-image: linear-gradient(
        to right,
        rgba(17, 19, 25, 0.8),
        rgba(17, 19, 25, 0.8)
      ),
      url('');
  }
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        to right,
        rgba(17, 19, 25, 0.8),
        rgba(17, 19, 25, 0.8)
      ),
      url('');
  }
}
