<section class="section">

<div class="container">
    <ul class="list header-navigate">
        <li class="list__item"> <a class="list__item__link" href="">О нас</a></li>
        <li class="list__item"> <a class="list__item__link" href="">Услуги и цены</a></li>
        <li class="list__item"> <a class="list__item__link" href="">Мастера</a></li>
        <li class="list__item"> <a class="list__item__link" href="">Контакты</a></li>
    </ul>
    <ul>
        <li>+38 044 111 11 11</li>
        <li><a href="">онлайн-запись</a></li>
    </ul>

</div>
</section>
